<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <title>Border Layout Example</title>
    <link rel="stylesheet" type="text/css" href="extjs/resources/css/ext-all-neptune.css">
    <script type="text/javascript" src="extjs/packages/ext-theme-neptune/build/ext-theme-neptune.js" defer></script>

    <!-- GC -->

    <!-- <x-compile> -->
      <!-- <x-bootstrap> -->
        <script type="text/javascript" src="extjs/ext-dev.js"></script>
      <!-- </x-bootstrap> -->

        <script type="text/javascript" src="js/border.js"></script>
    <!-- </x-compile> -->
</head>
<body></body>
</html>
